@use 'media';

:host {
  display: block;
}

.cta {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3.2rem;
  padding: 4.8rem 1.6rem;
  overflow: hidden;
  border-radius: 1.6rem;
  background: var(--neutral-200);

  @include media.from(md) {
    gap: 4rem;
    padding: 8rem 0;
  }

  @include media.from(lg) {
    padding-block: 9.6rem;
  }

  &__illustration {
    display: none;
    position: absolute;
    pointer-events: none;

    @include media.from(md) {
      display: block;

      &:first-child {
        top: 18.2rem;
        left: -4.8rem;
        transform-origin: top left;
        transform: scale(.57);
      }

      &:last-child {
        top: -5rem;
        right: -2.1rem;
        transform-origin: top right;
        transform: scale(.507);
      }
    }

    @include media.from(lg) {
      &:first-child {
        top: 2.3rem;
        left: -7.3rem;
        transform: none;
      }

      &:last-child {
        top: 2.4rem;
        right: -7rem;
        transform: none;
      }
    }
  }

  &__text {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.2rem;
    text-align: center;
    width: 100%;

    > * {
      width: 100%;
    }
  }

  &__title {
    @include media.from(lg) {
      line-height: 6.5rem;
    }
  }

  &__button {
    --mat-button-filled-container-height: 5.7rem;
    --mat-button-filled-horizontal-padding: 2.4rem;
    --mat-button-filled-label-text-size: 1.8rem;
    --mat-button-filled-label-text-tracking: 0;
    min-width: 17.6rem;
    z-index: 1;
  }
}
