@use '@angular/material' as mat;

html {
  @include mat.menu-overrides((
    container-shape: 8px,
    container-color: var(--neutral-0),
    container-elevation-shadow: 0 1.2rem 2.2rem -1.2rem var(--neutral-300),
  ));

  .mat-mdc-menu-content {
    padding: 8px;

    .mat-mdc-outlined-button {
      width: 100%;
      justify-content: start;

      @include mat.button-overrides((
        outlined-container-shape: 4px,
        outlined-horizontal-padding: 8px,
        outlined-container-height: 2.8rem,
        outlined-label-text-size: 1.6rem,
        outlined-label-text-weight: 500,
        outlined-label-text-tracking: -.3px,
        outlined-outline-color: transparent,
        outlined-touch-target-size: 2.8rem,
      ));
    }
  }

  .mat-mdc-menu-panel {
    margin-top: 8px;
    min-width: 24rem;
    border: 1px solid var(--neutral-300);
  }
}
