@use '@angular/material' as mat;

html {
  @include mat.menu-overrides((
    container-shape: 8px,
    container-color: var(--neutral-0),
    container-elevation-shadow: 0 1.2rem 2.2rem -1.2rem var(--neutral-300),
  ));

  .mat-mdc-menu-content {
    padding: 8px;
  }

  .mat-mdc-menu-panel {
    margin-top: 8px;
    min-width: 24rem;
    border: 1px solid var(--neutral-300);
  }
}
