@use '@angular/material' as mat;

html {
  @include mat.radio-overrides((
    label-text-color: var(--neutral-900),
    label-text-size: 1.8rem,
    label-text-line-height: 2.7rem,
    label-text-tracking: -.3px,
    label-text-weight: 600,
    state-layer-size: 1.6rem,
    touch-target-size: 2.7rem,
    label-text-font: var(--ff-base),
    unselected-icon-color: var(--neutral-400),
    unselected-pressed-icon-color: var(--neutral-200),
    unselected-hover-icon-color: var(--neutral-400),
    unselected-focus-icon-color: var(--neutral-400),
    selected-icon-color: var(--neutral-900),
    selected-pressed-icon-color: var(--neutral-900),
    selected-hover-icon-color: var(--neutral-900),
    selected-focus-icon-color: var(--neutral-900),
    ripple-color: transparent,
    checked-ripple-color: transparent,
  ));

  .mat-mdc-radio-group {
    display: flex;
    flex-direction: column;
  }

  .mat-mdc-radio-button {
    display: block;
    border-radius: 8px;
    padding: .8rem;

    .mat-internal-form-field {
      width: 100%;
    }

    .mdc-radio {
      padding: 0;
    }

    .mdc-radio, .mdc-radio__background {
      width: 1.6rem;
      height: 1.6rem;
    }

    .mdc-radio__background {
      display: block;

      &::before {
        top: 0;
        left: 0;
      }
    }

    .mdc-radio__outer-circle {
      border-width: 1px;
      box-shadow: 0 1px 2px 0 rgba(22, 58, 52, 12%);
      transition: border-color var(--motion-fast) var(--motion-ease-out);
    }

    .mdc-radio__native-control:enabled:checked + .mdc-radio__background > .mdc-radio__outer-circle {
      box-shadow: unset;
      border-width: 2px;
    }

    .mdc-radio__native-control:enabled:focus-visible + .mdc-radio__background > .mdc-radio__outer-circle {
      box-shadow: 0 0 0 4px var(--neutral-200);
    }

    .mdc-label {
      padding-left: 8px;
    }

    @media (forced-colors: active) {
      .mdc-radio__native-control:focus-visible + .mdc-radio__background > .mdc-radio__outer-circle {
        outline: 2px solid Highlight;
        outline-offset: 4px;
      }
    }
  }
}
