*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  font-weight: 400;
}

img {
  display: block;
}

html {
  color-scheme: light;
  font-size: 10px;
  background: var(--neutral-100);
}

::-webkit-scrollbar {
  width: .8rem;
  height: .5rem;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  cursor: pointer;
  border-radius: 1rem;
  background: var(--neutral-900);
}
