/******** NUNITO ********/
@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/Nunito/static/Nunito-SemiBold.ttf') format('woff');
}

@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/Nunito/static/Nunito-Bold.ttf') format('woff');
}

@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 800;
  src: url('../fonts/Nunito/static/Nunito-ExtraBold.ttf') format('woff');
}

/******** NUNITO SANS ********/
