<ul class="recipes__list">
  @for (recipe of recipes(); track recipe.id; let index = $index) {
    <li class="recipe" appReveal>
      <mat-card appearance="outlined" class="recipe__card">
        <picture>
          <source
            media="(min-width: 48em)"
            [srcset]="'/' + recipe.image.large"
            width="1024"
            height="1024"
          />
          <img
            class="recipe__img"
            [src]="'/' + recipe.image.small"
            width="500"
            height="500"
            [loading]="index < 3 ? 'eager' : 'lazy'"
            decoding="async"
            [alt]="recipe.title"
          />
        </picture>
        <mat-card-content class="recipe__card-content">
          <div class="recipe__info">
            <div class="recipe__box">
              @if (headingLevel() === 3) {
                <h3 class="text-preset-5">{{ recipe.title }}</h3>
              } @else {
                <h2 class="text-preset-5">{{ recipe.title }}</h2>
              }
              <p class="recipe__description text-preset-9">{{ recipe.overview }}</p>
            </div>
            <app-recipe-stats [recipe]="recipe" size="compact" />
          </div>
        </mat-card-content>
        <mat-card-actions class="recipe__actions">
          <a matButton="filled" [attr.aria-label]="'View recipe: ' + recipe.title" [routerLink]="['/recipes', recipe.slug]">
            View Recipe
          </a>
        </mat-card-actions>
      </mat-card>
    </li>
  }
</ul>
