@use '@angular/material' as mat;
@use 'media';

:host {
  display: block;
}

.recipes__list {
  display: grid;
  gap: 3.2rem;

  @include media.from(lg) {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}

.recipe {
  min-width: 0;
  --recipe-image-height: 30rem;
  --recipe-stats-height: 5.6rem;

  @include media.from(md) {
    --recipe-image-height: 45rem;
    --recipe-stats-height: 2.4rem;
  }

  @include media.from(lg) {
    --recipe-image-height: 30rem;
    --recipe-stats-height: 5.6rem;
  }

  &__card {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 7px;

    @include mat.card-overrides((
      outlined-container-shape: 1rem,
      outlined-outline-width: 1px,
      outlined-outline-color: var(--neutral-300),
      outlined-container-elevation: 0 8px 16px -9px rgb(22 58 52 / 16%),
      outlined-container-color: var(--neutral-0),
    ));
  }

  &__img {
    width: 100%;
    height: var(--recipe-image-height);
    border-radius: 1rem;
    object-fit: cover;
  }

  &__card-content {
    flex: 1;
    padding: 1.6rem 0;

    &:last-child {
      padding-bottom: 1.6rem;
    }
  }

  &__info {
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
    padding-inline: .8rem;
  }

  &__box {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  &__description {
    color: var(--neutral-800);
  }

  &__details {
    display: flex;
    align-items: center;
    column-gap: 1.6rem;
    row-gap: .8rem;
    flex-wrap: wrap;
  }

  &__detail {
    display: flex;
    align-items: center;
    gap: .6rem;
  }

  &__icon {
    flex: 0 0 auto;
    width: 2rem;
    height: 2rem;
  }

  &__value {
    color: var(--neutral-900);
  }

  &__actions {
    min-height: auto;
    padding: 0;

    a {
      flex: 1;
    }

    @include mat.button-overrides((
      filled-container-shape: var(--mat-sys-corner-full),
      filled-container-height: 4.8rem,
      filled-label-text-font: var(--ff-sans),
      filled-label-text-size: 1.6rem,
      filled-label-text-tracking: -.3px,
    ));
  }

  &__skeleton {
    border: 1px solid var(--neutral-300);
    border-radius: 1rem;
    background: var(--neutral-0);
  }
}
