:root {
  --ff-base: 'Nunito', sans-serif;
  --ff-sans: 'Nunito Sans', sans-serif;

  --neutral-0: #fff;
  --neutral-100: #f6f5f1;
  --neutral-200: #e9ede8;
  --neutral-300: #e0e6e3;
  --neutral-400: #d0dcd9;
  --neutral-800: #395852;
  --neutral-900: #163a34;
  --orange-500: #fe9f6b;
  --teal-500: #49ac9b;
  --indigo-500: #697ddb;
}
