@use '@angular/material' as mat;
@use '@angular/cdk' as cdk;
@use 'fonts';
@use 'variables';
@use 'base';
@use 'typography';
@use 'layout';
@use 'motion';
@use 'a11y';
@use 'components/button';
@use 'components/form-field';
@use 'components/menu';

@include cdk.a11y-visually-hidden();
@include layout.tokens;
@include motion.styles;
@include a11y.styles;

html {
  @include mat.theme((
    color: (
      primary: mat.$azure-palette,
      tertiary: mat.$blue-palette,
    ),
    typography: Nunito,
    density: 0,
  ));

  @include mat.divider-overrides((
    color: var(--neutral-300),
  ));
}

html,
body {
  height: 100%;
}
