@use 'media';

:host {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;

  @include media.from(md) {
    flex-direction: row;
    align-items: center;
  }

  @include media.from(lg) {
    gap: 1.6rem;
  }
}

.filters {
  &__trigger {
    --mat-button-outlined-horizontal-padding: calc(1.6rem - 1px);
    width: 100%;
    background: var(--neutral-0);
    line-height: 1.5;
    white-space: nowrap;

    &--selected {
      --mat-button-outlined-outline-color: var(--neutral-900);
    }

    @include media.from(md) {
      flex: 0 0 18rem;
      width: 18rem;
    }

    @include media.from(lg) {
      flex-basis: 18.1rem;
      width: 18.1rem;

      &:last-of-type {
        flex-basis: 18.4rem;
        width: 18.4rem;
      }
    }
  }

  &__search {
    width: 100%;
    min-width: 0;

    @include media.from(md) {
      flex: 1;
      width: 32rem;
      margin-inline-start: auto;
    }

    @include media.from(lg) {
      flex: 0 1 31rem;
      width: 31rem;
    }
  }
}
