@use 'a11y';
@use 'layout';
@use 'media';
@use 'motion';

:host {
  display: block;
}

.recipe {
  &__details, &__more {
    @include layout.container;
    display: flex;
    flex-direction: column;
  }

  &__details {
    padding-block: 4.8rem;
    gap: 1.6rem;

    @include media.from(lg) {
      padding-bottom: 6.4rem;
    }
  }

  &__breadcrumb-list {
    display: flex;
    align-items: baseline;
    gap: .6rem;
    list-style: none;
    color: var(--neutral-900);

    > li:first-child {
      flex: 0 0 6.2rem;
    }
  }

  &__crumb {
    color: var(--neutral-800);
    text-decoration: none;
    border-radius: 2px;
    @include motion.transition(box-shadow);

    &--disabled {
      opacity: .5;
    }

    &:any-link:hover {
      text-decoration: underline;
      text-underline-offset: 3px;
    }

    &:focus-visible {
      @include a11y.focus-ring;
    }
  }

  &__current {
    flex: 1;
    display: flex;
    align-items: baseline;
    min-width: 0;
    gap: .6rem;

    .recipe__separator {
      flex: 0 0 1rem;
      text-align: center;
    }

    .recipe__name {
      flex: 1;
      min-width: 0;
      overflow-wrap: anywhere;
    }
  }

  &__content {
    display: grid;
    gap: 4rem;

    @include media.from(lg) {
      grid-template-columns: minmax(0, 145fr) minmax(0, 143fr);
    }

    &--state {
      display: block;

      .recipe__info {
        align-items: center;
        padding-block: 4.8rem;
        text-align: center;
        gap: 2.4rem;
      }
    }
  }

  &__img {
    width: 100%;
    height: auto;
    aspect-ratio: 1;
    object-fit: cover;
    border-radius: 1rem;
  }

  &__info {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    gap: 2rem;
  }

  &__title {
    font-size: 4rem;
    line-height: 4.8rem;

    @include media.from(lg) {
      font-size: 4.8rem;
      line-height: 5.8rem;
    }
  }

  &__list-box, &__list {
    display: flex;
    flex-direction: column;
  }

  &__list-box {
    gap: 1.6rem;
  }

  &__list {
    gap: .8rem;
    list-style: none;
  }

  &__item {
    display: flex;
    align-items: start;
    gap: .8rem;
  }

  &__list-icon {
    flex: 0 0 2.4rem;
    height: 2.4rem;
    margin-top: .3rem;
  }

  ul.recipe__list .recipe__item,
  ol.recipe__list .recipe__item:not(:first-child) {
    align-items: center;

    .recipe__list-icon {
      margin-top: 0;
    }
  }

  &__divider {
    margin-inline: var(--page-gutter);

    @include media.from(lg) {
      margin-inline: 0;
    }
  }

  &__more {
    padding-block: 4.8rem;
    gap: 2.4rem;

    @include media.from(lg) {
      padding-block: 6.4rem 9.6rem;
    }
  }

  &__skeleton {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  &__image-placeholder {
    aspect-ratio: 1;
  }

  &__breadcrumb-placeholder {
    flex-shrink: 1;
    align-self: center;
  }

  &__title-placeholder {
    --skeleton-height: 9.6rem;

    @include media.from(md) {
      --skeleton-height: 4.8rem;
    }

    @include media.from(lg) {
      --skeleton-height: 11.6rem;
    }
  }

  &__description-placeholder {
    --skeleton-height: 6rem;

    @include media.from(md) {
      --skeleton-height: 3rem;
    }

    @include media.from(lg) {
      --skeleton-height: 6rem;
    }
  }

  &__stats-placeholder {
    --skeleton-height: 6.2rem;

    @include media.from(md) {
      --skeleton-height: 2.7rem;
    }
  }
}
