@use "../public/scss/variables";
@use "../public/scss/base";
@use "../public/scss/media";
@use "../public/scss/fonts";
@use "../public/scss/typography";

@use '@angular/material' as mat;

html {
  @include mat.theme((
    color: (
      primary: mat.$azure-palette,
      tertiary: mat.$blue-palette,
    ),
    typography: Nunito,
    density: 0,
  ));

  @include mat.button-overrides((
    filled-container-shape: 1rem,
    filled-horizontal-padding: 3.2rem,
    filled-container-height: 6rem,
    filled-container-color: var(--neutral-900),
    filled-focus-state-layer-opacity: 0,
    filled-hover-state-layer-opacity: 1,
    filled-label-text-color: var(--neutral-0),
    filled-pressed-state-layer-opacity: 1,
    filled-ripple-color: var(--teal-500),
    filled-state-layer-color: var(--neutral-800),
    filled-label-text-size: 2rem,
    filled-label-text-tracking: -.5px,
    filled-label-text-weight: 700,
    filled-touch-target-display: 6rem,
  ));

  .mdc-button:focus {
    box-shadow: 0 0 0 3px var(--neutral-0), 0 0 0 5px var(--mat-button-filled-container-color);
  }

  @include mat.divider-overrides((
    color: var(--neutral-300),
  ));

  /******* FORM FIELD *******/
  @include mat.form-field-overrides((
    leading-icon-color: var(--neutral-900),
    trailing-icon-color: var(--neutral-900),
    focus-select-arrow-color: var(--neutral-900),
    focus-state-layer-opacity: 1,
    hover-state-layer-opacity: 1,
    outlined-container-shape: 1rem,
    outlined-outline-width: 1px,
    outlined-outline-color: var(--neutral-300),
    outlined-input-text-color: var(--neutral-900),
    outlined-input-text-placeholder-color: rgba(22, 59, 53, .7),
    outlined-caret-color: var(--neutral-900),
    outlined-focus-outline-width: 1px,
    outlined-focus-outline-color: var(--neutral-300),
    outlined-hover-outline-color: var(--neutral-900),
    select-option-text-color: var(--neutral-900),
    state-layer-color: transparent,
    container-text-size: 1.8rem,
    container-text-tracking: -.3px,
    container-text-weight: 600,
    container-height: 4.7rem,
    container-vertical-padding: 1rem,
  ));

  .mat-mdc-form-field {
    .mdc-text-field--outlined {
      transition: box-shadow .35s;
      padding-right: 2.1rem;
      border-radius: var(--mat-form-field-outlined-container-shape);

      .mat-mdc-notch-piece {
        transition: border-color .35s;
      }
    }

    .mat-mdc-form-field-flex {
      .mat-mdc-form-field-icon-prefix {
        padding: 0;

        .mat-icon {
          height: 2rem;
          width: 2rem;
          padding: 0 8px 0 1.6rem;
        }
      }

      .mat-mdc-form-field-infix {
        width: 24.5rem;

        .mdc-text-field__input {
          height: 2.7rem;
        }
      }
    }

    &.mat-focused .mdc-text-field--outlined {
      box-shadow: 0 0 0 2px var(--neutral-0), 0 0 0 4px var(--neutral-900)
    }
  }
}

body {
  color-scheme: light;
  margin: 0;
}

html, body {
  height: 100%;
}
