@use 'layout';
@use 'media';

:host {
  @include layout.container;
  display: block;
}

.section-divider {
  display: none;

  @include media.from(md) {
    display: block;
    margin-inline: calc(-1 * var(--page-gutter));
  }

  @include media.from(lg) {
    margin-inline: 0;
  }
}
